html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background-color: #c8dad3;
  font-size: 20px;
}

h1 {
  margin-bottom: 0;
}
h2 {
  font-weight: normal;
}
h2 span {
  font-weight: bold;
  font-size: 120%;
}